@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body {
    width: auto!important; 
    overflow-x: hidden!important;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg,#ffffff,#e4c3c3);
    width: 100%;
    height: 100%;
} 

main{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /*line-height: 100%;*/
}

.header{
    padding: 15px;
}


.hamburger {
  position: relative;
  background-color: rgb(255, 230, 230);
  width: 50px;
  height: 50px;
 
  border-radius: 80%;
  position: fixed;
 
  z-index: 2000;
  
  text-align: center; 
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
}
.hamburger.is-active { 
  background: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
content: '';
display: block;
width: 60%;
height: 5px;
background-color: #2d2d2d;

transition: 0.4s;
margin: 6px auto;
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger.is-active:before {
  
  transform: rotate(90deg) translate(11px, 7px);
}

.hamburger.is-active:after {

  transform: rotate(90deg) translate(-11px, -5px);
}


.nav_menu{
  display: block;
  position: fixed;
  top: 0;
  left: -140%;
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.nav_menu.is-active{
  left:0%;
}


.nav_menu a {
  display: block;
  text-align:center;
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.nav_menu a:hover {
  background-color: #a52100;
}
.body_container {
  display: flex;  /* Контейнер for city + shea */
  flex-direction: column;
  min-height: 100%;
  padding:5px;
}
.update_container {
  display: flex;  /* Контейнер for city + shea */
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.update {
  display: block;
  padding: 20px;
}

.update_input_form{
  display: flex;  /* Контейнер */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.update_input_form input[type=text] {
  margin: 0;
  padding: 6px;
  border: none;
  font-size: 20px;
  background: rgb(184, 71, 71);
}

.update_input_form button[type=submit] {
  margin: 0;
  padding: 6px 10px;
  background: rgb(220, 220, 220);
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.update_input_form button[type="submit"]:hover {
  background: rgb(171, 0, 0);
}

.search_text{
  display: inline-block;
}
.search_container{
  padding: 20px;
}

.search_input_form{
    display: flex;
}

.search_input_form input[type=text] {
  background: rgb(184, 71, 71);
  margin: 0;
  padding: 6px;
  border: none;
  font-size: 20px;
  }

.search_input_form button {
  margin: 0;
  padding: 6px 10px;
  background: rgb(233, 233, 233);
  font-size: 20px;
  border: none;
  cursor: pointer;
  }

.search_input_form button:hover {
  background: rgb(171, 0, 0);
  }

th, td{
  padding: 8px;
  width: 150px;
  }

th {
  background: #da0e0e;
}

tr {
  background: #410d8e;
}

.resetSQL input[type=text] {
  margin: 0;
  padding: 6px;
  border: none;
  font-size: 20px;
  background: rgb(184, 71, 71);
}

.resetSQL button[type=submit] {
  margin: 0;
  padding: 6px 10px;
  background: rgb(220, 220, 220);
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.resetSQL button[type="submit"]:hover {
  background: rgb(171, 0, 0);
}

.resetSQL  {
  justify-content: center;
  display: flex;
  padding: 10px;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 0px 5px rgba(64,64,64,.7);
  border-radius: 12px 12px;
  overflow: hidden;
  }

td , th{
  padding: 15px 20px;
  text-align: center;
}
th{
  background-color: #b73737;
  color: #fafafa;
  font-family: 'Open Sans',Sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  }

tr{
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
  background-color: #eeeeee;
}

footer{
  padding: 1em;
  background: rgb(27, 83, 110);
  text-align: center;
}